/*
 *  Tailwind customization
 */

.flex-row,
.flex-col {
  display: flex;
}


/*
 *  Good old CSS classes
 */

.transitioning-to-theme * {
  transition-duration: 250ms !important;
  transition-property: color, background-color, border-color, fill !important;
  transition-timing-function: ease-in;
}

.transitioning-to-theme.light * {
  transition-duration: 1000ms !important;
}

#root {
  min-height: 100vh;
  overflow-x: clip;

  display: flex;
  flex-direction: column;

  color: var(--alt-high);
  font-family: 'Nunito Sans', sans-serif;
}

section.hero {
  background-image: linear-gradient(120deg, var(--accent-color-primary) 40%, var(--accent-color-secondary) 130%);
}
